Publicar Posts Linkedin-IG.json
{
  "name": "Publicar Posts Linkedin-IG",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                4
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1400,
        1120
      ],
      "id": "4ba9bb36-4920-41b8-bf32-3b63a7801e70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Este código selecciona una fila aleatoria del input\nconst allRows = $input.all(); // obtén todas las filas leídas del Google Sheets\nconst randomIndex = Math.floor(Math.random() * allRows.length); // índice aleatorio\nlet randomRow = allRows[randomIndex]; // selecciona la fila\n\nconst encoded = Buffer.from('image_'+randomRow.json.row_number).toString('base64');\nrandomRow.json.name_base64 = encoded;\n\n\nreturn [randomRow]; // solo retorna esa fila"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        1120
      ],
      "id": "3e1d2d56-a606-4097-87f0-ac0d05f6ff44",
      "name": "Get post random"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y",
          "mode": "list",
          "cachedResultName": "Generación de Reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1376096262,
          "mode": "list",
          "cachedResultName": "Generated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit#gid=1376096262"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "published": "x",
            "id": "={{ $('Get post random').item.json.id }}",
            "image_ready_url": "={{ $('Upload to cloudinary').item.json.secure_url}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_topic",
              "displayName": "id_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recorded",
              "displayName": "recorded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "edited",
              "displayName": "edited",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_ready_url",
              "displayName": "image_ready_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        1240
      ],
      "id": "4f451052-bac3-4a7b-8ec5-82d0d713f614",
      "name": "Marca como publicado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zGf08IYKSkW5MIYH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "person": "d5anHjpvjh",
        "text": "={{ $('Get post random').item.json.content }}\n\n{{ $('Get post random').item.json.hashtags }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        160,
        1240
      ],
      "id": "1b70395a-5b05-4861-aed9-7a18bb06f6e8",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Ruu30BDpO79kRtsB",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y",
          "mode": "list",
          "cachedResultName": "Generación de Reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1376096262,
          "mode": "list",
          "cachedResultName": "Generated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit#gid=1376096262"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "type",
              "lookupValue": "POST"
            },
            {
              "lookupColumn": "edited",
              "lookupValue": "x"
            },
            {
              "lookupColumn": "published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        1120
      ],
      "id": "86157aff-5f2d-4b7d-bbfc-ce664ed406b5",
      "name": "Get Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zGf08IYKSkW5MIYH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Get Export').item.json.job.urls[0] }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        520,
        1240
      ],
      "id": "cdfc1e8a-b2e4-4455-9244-351258af8356",
      "name": "Create IG container",
      "credentials": {
        "facebookGraphApi": {
          "id": "SeUH2se8mHcCWfkQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set IG Data').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('Set IG Data').item.json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set IG Data').item.json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        700,
        1240
      ],
      "id": "fd34281a-f7ef-44dc-8f28-21b0750ba36f",
      "name": "Post to IG",
      "credentials": {
        "facebookGraphApi": {
          "id": "SeUH2se8mHcCWfkQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eb07f42-e240-453a-bfb9-1e6911507c08",
              "name": "image_url",
              "value": "={{ $json.job.urls[0] }}",
              "type": "string"
            },
            {
              "id": "8571f8a7-244c-4197-8093-33e3b9d0c338",
              "name": "caption",
              "value": "={{ $('Get post random').item.json.content }}\n\n{{ $('Get post random').item.json.hashtags }}",
              "type": "string"
            },
            {
              "id": "96493576-ddf7-420f-89cd-417922bb86a2",
              "name": "node",
              "value": "17841467612293757",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        1240
      ],
      "id": "516807c7-32c1-4016-92a8-bf3d589ffa3f",
      "name": "Set IG Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/asset-uploads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Asset-Upload-Metadata",
              "value": "={\"name_base64\":\"{{ $json.name_base64 }}\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "76ff31b3-5b59-4b48-9958-f8724f954b01",
      "name": "Canva API - Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "adCTEKHc0NTUyaoA",
          "name": "Header Auth account"
        },
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/asset-uploads/{{ $json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "ebbba535-02c3-46ba-b739-6427d32d2e6e",
      "name": "Get Asset ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "adCTEKHc0NTUyaoA",
          "name": "Header Auth account"
        },
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.canva.com/rest/v1/autofills",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGss6d8K8o\",\n  \"data\": {\n    \"title\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Get post random').item.json.title }}\"\n    },\n    \"subtitle\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Get post random').item.json.subtitle }}\"\n    },\n    \"image\": {\n      \"type\": \"image\",\n      \"asset_id\": \"{{ $json.job.asset.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "ca668e4e-7192-4140-bae6-28a7515a7993",
      "name": "AutoFill Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "adCTEKHc0NTUyaoA",
          "name": "Header Auth account"
        },
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"png\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        940
      ],
      "id": "77a32cba-5240-4010-885b-b22aa1faf956",
      "name": "Export Design",
      "credentials": {
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        940
      ],
      "id": "bf0bf5c2-06e8-43ec-bd73-0731da5f7e57",
      "name": "Get Export",
      "credentials": {
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Canva",
        "height": 480,
        "width": 980,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        620
      ],
      "typeVersion": 1,
      "id": "c2a641bb-1f73-4284-a892-85cd3a18c049",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        940
      ],
      "id": "95c3a4a4-fcdd-4472-8a38-b959ef7c41e8",
      "name": "Download"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url || $json.image_ready_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -820,
        1120
      ],
      "id": "dc8063da-5d0b-4eb7-adf0-45b93be5b0c9",
      "name": "Download Image"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        940
      ],
      "id": "acf10009-d864-41c2-ac72-de8a494099b0",
      "name": "Get Design ID",
      "credentials": {
        "oAuth2Api": {
          "id": "QN12ZuYVUZChKozG",
          "name": "Canva API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y",
          "mode": "list",
          "cachedResultName": "Generación de Reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1376096262,
          "mode": "list",
          "cachedResultName": "Generated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZvkcw6NT-UY21g1bNr20iJHVoAPDLO6ZAA8upgD7_Y/edit#gid=1376096262"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "published": "x",
            "id": "={{ $('Get post random').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_topic",
              "displayName": "id_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recorded",
              "displayName": "recorded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "edited",
              "displayName": "edited",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_ready_url",
              "displayName": "image_ready_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        1580
      ],
      "id": "b95a12d2-00c5-495d-8a86-2dd7e153fc93",
      "name": "Marca como publicado1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zGf08IYKSkW5MIYH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "person": "d5anHjpvjh",
        "text": "={{ $('Get post random').item.json.content }}\n\n{{ $('Get post random').item.json.hashtags }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        160,
        1580
      ],
      "id": "1e32663c-ea13-451f-ac58-f5b003c1e66b",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Ruu30BDpO79kRtsB",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        520,
        1580
      ],
      "id": "fcabdab8-125a-4ffc-aa1a-df8c24ac1eac",
      "name": "Create IG container1",
      "credentials": {
        "facebookGraphApi": {
          "id": "SeUH2se8mHcCWfkQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set IG Data1').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('Set IG Data1').item.json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set IG Data1').item.json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        700,
        1580
      ],
      "id": "6343ddfc-1a09-4dd7-8c53-d95386ad2ee1",
      "name": "Post to IG1",
      "credentials": {
        "facebookGraphApi": {
          "id": "SeUH2se8mHcCWfkQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eb07f42-e240-453a-bfb9-1e6911507c08",
              "name": "image_url",
              "value": "={{ $('Get post random').item.json.image_ready_url }}",
              "type": "string"
            },
            {
              "id": "8571f8a7-244c-4197-8093-33e3b9d0c338",
              "name": "caption",
              "value": "={{ $('Get post random').item.json.content }}\n\n{{ $('Get post random').item.json.hashtags }}",
              "type": "string"
            },
            {
              "id": "96493576-ddf7-420f-89cd-417922bb86a2",
              "name": "node",
              "value": "17841467612293757",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        1580
      ],
      "id": "37b8085c-b556-4ed7-8a2c-ade546881596",
      "name": "Set IG Data1"
    },
    {
      "parameters": {
        "content": "## Publish From Canva",
        "height": 240,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        1180
      ],
      "typeVersion": 1,
      "id": "b00150e4-c121-4163-86dd-5443d3c82017",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Publish",
        "height": 240,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        1520
      ],
      "typeVersion": 1,
      "id": "a8571b37-bf2c-4382-8150-a9f2445e7a56",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dlvxgjflw/image/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8n_upload"
            },
            {
              "name": "folder",
              "value": "social_published"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        1240
      ],
      "id": "be6c7353-adef-45e4-9b99-9b38f76fd7f3",
      "name": "Upload to cloudinary"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        700
      ],
      "id": "721c0aff-4e30-4249-83d8-2f7ab2edf4a2",
      "name": "Wait 1",
      "webhookId": "d679ad27-dba1-4ec7-9b1a-f379968db711"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        700
      ],
      "id": "2e2cbb7c-8c8a-449c-b61d-510d48040fb2",
      "name": "Wait 2",
      "webhookId": "d679ad27-dba1-4ec7-9b1a-f379968db711"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        520,
        940
      ],
      "id": "e233c00d-8aab-4be8-9409-d2e4d7268cb4",
      "name": "Wait 3",
      "webhookId": "d679ad27-dba1-4ec7-9b1a-f379968db711"
    },
    {
      "parameters": {
        "content": "## Get Posts",
        "height": 240,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1240,
        1060
      ],
      "typeVersion": 1,
      "id": "9bfe05f3-f20b-4dca-aa3e-32203f49803b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f22f21ec-f6c9-4f68-b4d1-8a699c191742",
              "leftValue": "={{ $json.image_ready_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1120
      ],
      "id": "ffe4e531-fc19-453f-9390-9286d62197f5",
      "name": "Imagen esta lista?"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post random": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marca como publicado": {
      "main": [
        []
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Set IG Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts": {
      "main": [
        [
          {
            "node": "Get post random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG container": {
      "main": [
        [
          {
            "node": "Post to IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IG Data": {
      "main": [
        [
          {
            "node": "Create IG container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canva API - Upload Image": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Asset ID": {
      "main": [
        [
          {
            "node": "AutoFill Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutoFill Template": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Design": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Export": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Upload to cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Imagen esta lista?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Design ID": {
      "main": [
        [
          {
            "node": "Export Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to IG": {
      "main": [
        [
          {
            "node": "Marca como publicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "Set IG Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG container1": {
      "main": [
        [
          {
            "node": "Post to IG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to IG1": {
      "main": [
        [
          {
            "node": "Marca como publicado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IG Data1": {
      "main": [
        [
          {
            "node": "Create IG container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to cloudinary": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Get Asset ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Design ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Get Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen esta lista?": {
      "main": [
        [
          {
            "node": "Canva API - Upload Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8f1f3148-3052-4109-af5d-5c60516049ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fabc979b893dbb8b680fe6e8a5521cb228f93e2cbfa29679be8b7439ef0095c"
  },
  "id": "Mhq4t96jlsLKbH9u",
  "tags": [
    {
      "createdAt": "2025-07-07T14:38:22.979Z",
      "updatedAt": "2025-07-07T14:38:22.979Z",
      "id": "PeifyMonB8YfeoqO",
      "name": "LinkedIn"
    },
    {
      "createdAt": "2025-07-07T14:38:29.562Z",
      "updatedAt": "2025-07-07T14:38:29.562Z",
      "id": "Qq2Ezk5Ho11WoGW1",
      "name": "Social"
    }
  ]
}